// FORM
// Input
$input__lengths-xs: 75px !default;
$input__lengths-sm: 150px !default;
$input__lengths-md: 250px !default;
$input__lengths-lg: 350px !default;
$input__lengths-xl: 500px !default;

$input__height-sm: 32px !default;
$input__height-md: 40px !default;
$input__height-md: 48px !default;
$input__height-md: 56px !default;

// Modal
$modal__lengths-sm: 400px !default;
$modal__lengths-md: 600px !default;
$modal__lengths-lg: 800px !default;
$modal__lengths-xl: 1000px !default;